@import "~react-image-gallery/styles/css/image-gallery.css";

.REback {
  background: lightgreen;
}
h1 {
  padding-left: 1%;
}
h3 {
  padding-left: 1%;
}
.REcontainer {
  background: white;
  margin: 1% 8% 0px 11%;
  height: 64px;
  padding-top: 10px;
  box-shadow: 0 1px 7px grey;
}
.RE_H3 {
  margin: 5% 0 0 10%;
}
.REheading {
  float: left;
  text-align: left;
  background: antiquewhite;
  width: 100%;
}
.REheading1 {
  float: left;
  text-align: left;
  background: antiquewhite;
  /* width: 100%; */
  height: 170px;
}

.col-md-12 {
  display: flex;
  margin-top: 10%;
}
.col-md-3 {
  padding-right: 10%;
}
.col-md-3 input {
  font-size: large;
  width: 100%;
  padding-left: 6px;
  height: 40px;
  border: 2px #fff solid;
  border-radius: 6px;
  margin-left: 7%;
}
.col-md-3 button {
  background: black;
  width: 85%;
  height: 44px;
  border: 2px solid;
  border-radius: 20px;
}
button h4 {
  color: white;
}
form {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

img {
  height: 160px;
}
.REcards {
  display: flex;
  margin: 1% 8% 0 10%;
}
.RE_card_containers {
  padding: 10px;
  display: flex;
}
.RE_Card {
  width: 105%;
  padding: 10px;
  margin-bottom: 3%;
}
.RE_Card:hover {
  background: rgb(167, 166, 166);
}
.REtext {
  text-align: left;
}
.RE_cardBody {
  padding: 0%;
}
.REcard-title {
  font-size: larger;
  margin-top: 8px;
  text-align: left;
  font-family: monospace;
}
.RE_card_Recomd {
  background: black;
  width: 100%;
  height: 112%;
}
.RE_Rec {
  margin-top: 2%;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}
.RE_Card_scroll {
  flex-grow: 1;
  flex-shrink: 0;

  width: 50px;
  height: 100px;
  margin: 10px;

  border-radius: 4px;
}
.RE_back {
  align-items: flex-end;

  margin-top: 2%;
  font-family: monospace;
}
.RE_back img {
  width: 3%;
  height: 3%;
  padding-right: 0px;
}

.RE_Detail {
  background: rgb(204, 200, 195);
  text-align: left;
  height: 130px;
}
.RE_DetailImg {
  height: 517px;
  width: 85%;
  margin-left: 100px;
}
.RE_DetailImg1{
    height: 595px;
    margin-left: 18%;
    margin-right: 18%;
    
}
.RE_Link {
  color: black;
  text-decoration: none;
}

/* //////////////////////////////////////////// */
.modal-dialog {
  margin-left: 0%;
  height: 100%;
  width: 540px;
  margin-top: 0%;
}
.modal-content {
  width: 270% !important;
}
.modal-dialog {
  margin: 0 !important;
}
.box {
  margin: 0px auto !important;
}

.carousel {
  padding: 10px 10px 0;
  border-radius: 4px;
  width: 85%;
  margin: auto;
}
.RE_carousel img {
  width: 100%;
  height: 500px;
}
.carousel-inner {
  position: relative;
  width: 110% !important;
  overflow: hidden;
  margin-top: -60px;
}

/* //////////////////////////// */

.RE_About {
  text-align: justify;
  margin-left: 7%;
  margin-top: 4%;
  width: 60%;
  word-spacing: 1.5px;
}
.RE_button button {
  background: black;
  border-radius: 34px;
  width: 20%;
  height: 40px;
  float: right;
}
.RE_button {
  margin-top: 3%;
  margin-right: 9%;
}
.RE_top-right {
  position: absolute;
  top: 8px;
  border: 1px solid;
  right: 16px;
  width: 6%;
  background: white;
  border-radius: 15px;
  height: 28px;
}
.RE_top-right:hover {
  background: red;
}
.RE_facilities {
  margin-top: 5%;
  width: 120%;
}
.carousel-item {
  display: contents;
  
}
.REheading2 {
  text-align: left;
  background: antiquewhite;

  height: 150px;
}
.RE_close {
  width: 170%;
  text-align: center;
}
.styles-module_slide__1zrfk img {
  height: 96%;
  width: 100%;
}
.thumb img{
  height: 85px !important;
}
.carousel .thumbs-wrapper{
  text-align: center;
  margin-top: 5px !important;
}
.carousel-status{
  display: none;
}